{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Announcements" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Announcements") %}
{% endblock page_header %}

{% block main %}
<script src='{{ STATIC_URL }}nec_portal/announcement/announcement.js' type='text/javascript' charset='utf-8'></script>

<div class="row-fluid">
  <div class="span12">
    {% include "project/announcement/_index.html" %}
  </div>
</div>
{% endblock %}
